@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  border: none;
  z-index: 999;
  margin-bottom: 0;
}
header section.header {
  display: flex;
  justify-content: center;
}
header section.header .headerTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #e9e8e8;
  width: 100%;
}
header section.header .headerTitle span {
  color: #144272;
  padding-right: 10px;
}
header section.header .headerTitle .headerIcon {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 10px;
}
header section.header .headerTitle .headerTitle1 {
  font-size: 40px;
}
header section.navigation .navbar {
  padding: 0;
  margin-bottom: 5px;
  margin-top: 0;
}
header section.navigation .navbar .container-fluid {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 5px 5px -1px, rgba(0, 0, 0, 0.3) 0px 5px 3px -1px;
  margin-bottom: 5px;
}
header section.navigation .navbar .container-fluid .navbar-toggler {
  margin-right: 85%;
  margin-bottom: 5px;
  font-size: 15px;
}
header section.navigation .navbar .container-fluid .collapse .navbar-nav .nav-item {
  padding: 0 20px;
}
header section.navigation .navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link:hover {
  color: #144272;
  scale: 1.1;
}
header section.navigation .navbar .container-fluid .collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  font-size: large;
  padding: 10px;
  text-align: center;
}
header section.navigation .navbar .container-fluid .collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
  color: #144272;
}

main {
  padding-top: 100px;
}
main section.background-1 .backgroundImg {
  background-image: url(../image/home.JPG);
  height: 550px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 5;
}
main section.aidainfo {
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
main section.aidainfo .aidaImg {
  background-image: url(../image/logo-aida300.png);
  height: 300px;
  width: 300px;
  background-position: center;
  background-repeat: no-repeat;
}
main section.background-aida1 .backgroundImg {
  background-image: url(../image/aida1photo.jpg);
  height: 550px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 5;
  position: relative;
  margin-bottom: 10px;
}
main h2.aida1Title {
  text-align: center;
  padding: 20px 0;
  margin-bottom: 10px;
}
main h2.aida1Title1 {
  font-size: 15px;
  text-align: center;
  margin-bottom: 10px;
  color: #144272;
}
main .infoIcon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}
main .infoIcon .infoIcon1 {
  text-align: center;
  margin: 20px 150px;
}
main .infoIcon .infoIcon1 .bi-clock {
  font-size: 50px;
}
main .infoIcon .infoIcon1 .infoma .info h4 {
  font-size: 15px;
  text-align: center;
}
main .infoIcon .infoIcon2 {
  text-align: center;
  margin: 20px 150px;
}
main .infoIcon .infoIcon2 .bi-coin {
  font-size: 50px;
}
main .infoIcon .infoIcon2 .infoma2 .info h4 {
  font-size: 15px;
  text-align: center;
}
main .infoIcon .infoIcon2 .infoma2 .info h4.train {
  width: 350px;
  padding-left: 50px;
  text-align: left;
}
main section.classInfoma {
  padding-top: 30px;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #e9e8e8;
}
main section.classInfoma .classInfo {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
main section.classInfoma .classInfo .classTitle h4 {
  font-size: 20px;
}
main section.classInfoma .classList {
  font-size: 15px;
  color: rgb(83, 83, 83);
}
main section.background-aida2 .backgroundImg2 {
  background-image: url(../image/aida2.jpg);
  height: 550px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 5;
}
main section.background-aida3 .backgroundImg3 {
  background-image: url(../image/aida3.jpg);
  height: 550px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 5;
}
main section.background-experience .backgroundImg5 {
  background-image: url(../image/體驗.jpg);
  height: 550px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 5;
}
main section.background-guided .backgroundguided {
  background-image: url(../image/g/2.JPG);
  height: 550px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 5;
}
main section.info h2.title {
  text-align: center;
  padding: 20px 0;
  margin-top: 5px;
}
main section.locationCard {
  padding: 30px 0;
}
main section.locationCard .allCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
main section.locationCard .allCard .card {
  margin: 10px 10px;
}
main section.background-train .backgroundTrainImg {
  background-image: url(../image/train/train.jpg);
  height: 550px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 5;
}
main section.coachtotal {
  display: flex;
  background-color: #e9e8e8;
  justify-content: center;
  padding: 30px;
}
main section.coachtotal .card {
  display: flex;
  text-align: center;
}
main section.coachtotal .card .card-body .line {
  border: 0.5px solid black;
  width: 320px;
}

footer {
  background-color: #1e1e1e;
  padding-top: 20px;
  padding-bottom: 15px;
}
footer .contactMe h3 {
  font-size: 15px;
  text-align: center;
  color: rgb(142, 142, 142);
}
footer .icon {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
footer .icon .line {
  margin: 0 20px;
}
footer .icon .line a img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
footer .icon .instagram {
  margin: 0 20px;
}
footer .icon .instagram a img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
footer .copyRight {
  padding-top: 20px;
}
footer .copyRight p {
  font-size: 0.5rem;
  text-align: center;
  color: rgb(142, 142, 142);
}

@media screen and (max-width: 660px) {
  body main section.classInfoma {
    display: flex;
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */